In [ ]:
#1
print("(^-^)")
print("(-.-)")

In [2]:
#2
print("안녕하세요\n 저는 OOO입니다.")

안녕하세요
 저는 OOO입니다.

In [3]:
#3
a=20
b=10
print(f"{a}+{b}={a+b}")

20+10=30

In [10]:
#4
x, y = 3.14, 20
print("a=%.3f,b=%5d"%(x, y))

a=3.140,b=   20

In [14]:
#5
print(20+10)
print(20-10)
print(20*10)
print(20/10)
print(10%3)

30
10
200
2.0
1

In [ ]:
#6
print(1000000*(1+0.01)**5)

1051010.0501

In [3]:
#7
print(2500*(1+0.1)*5)

13750.0

In [5]:
#8
pi = 3.14
r = 10
c = 2*pi*r 
s = pi*r**2

print('원주=',c)
print('면적=',s)

원주= 62.800000000000004
면적= 314.0

In [10]:
#9
print(f"합계={sum([i for i in range(1, 101)])}")

합계=5050

In [ ]:
#10
n = 4
p = 1
for i in range(n) :
   p *= 2
print(f'2^{n:d}={p:d}')

2^4=16

In [ ]:
#11
a = input("값a?")
b = input("값b?")
print(a + b)

1020

In [ ]:
#12
a = int(input("값a?"))
b = int(input("값b?"))
print(a + b)

30

In [17]:
#13
a = input("값a")
b = input("값b")
print(a + b)

1020

In [22]:
#14
for i in range(3):
    for j in range(10):
        print('*', end="")
    print()

**********
**********
**********

In [ ]:
#15
for i in range(1,5):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****

In [24]:
# 16
for i in range(1,5):
    for j in range(i):
        print('*',end='')
    print()

*
**
***
****

In [42]:
#17
for i in range(1, 10) :
    print(f"{2}X{i}={2*i}")

for i in range(1, 10) :
    print("#  %d단  #"%i, end="")
print()
for i in range(1, 10) :
    for j in range(2, 10) :
        print("%1dX %1d = %2d"%(j, i, j*i), end=" ")
    print()

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18
#  1단  ##  2단  ##  3단  ##  4단  ##  5단  ##  6단  ##  7단  ##  8단  ##  9단  #
2X 1 =  2 3X 1 =  3 4X 1 =  4 5X 1 =  5 6X 1 =  6 7X 1 =  7 8X 1 =  8 9X 1 =  9
2X 2 =  4 3X 2 =  6 4X 2 =  8 5X 2 = 10 6X 2 = 12 7X 2 = 14 8X 2 = 16 9X 2 = 18
2X 3 =  6 3X 3 =  9 4X 3 = 12 5X 3 = 15 6X 3 = 18 7X 3 = 21 8X 3 = 24 9X 3 = 27
2X 4 =  8 3X 4 = 12 4X 4 = 16 5X 4 = 20 6X 4 = 24 7X 4 = 28 8X 4 = 32 9X 4 = 36
2X 5 = 10 3X 5 = 15 4X 5 = 20 5X 5 = 25 6X 5 = 30 7X 5 = 35 8X 5 = 40 9X 5 = 45
2X 6 = 12 3X 6 = 18 4X 6 = 24 5X 6 = 30 6X 6 = 36 7X 6 = 42 8X 6 = 48 9X 6 = 54
2X 7 = 14 3X 7 = 21 4X 7 = 28 5X 7 = 35 6X 7 = 42 7X 7 = 49 8X 7 = 56 9X 7 = 63
2X 8 = 16 3X 8 = 24 4X 8 = 32 5X 8 = 40 6X 8 = 48 7X 8 = 56 8X 8 = 64 9X 8 = 72
2X 9 = 18 3X 9 = 27 4X 9 = 36 5X 9 = 45 6X 9 = 54 7X 9 = 63 8X 9 = 72 9X 9 = 81

In [48]:
#18
fruits = {
    'apple' : 10,
    'banana' : 5,
    'orange' : 8
}

print("현재 재고:",fruits)
name = input("과일 이름을 입력하세요: ")
print(name, "의 재고는 %d개입니다."%(fruits[name]) if name in fruits else "는 재고가 없습니다.")

현재 재고: {'apple': 10, 'banana': 5, 'orange': 8}
mango 는 재고가 없습니다.